body {
    background-color: black;
    color: white;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

#banner{
    height: 80%;
    width: 80%;
    padding-bottom: 30px;
}

#word {
    font-size: 40px;
    font-family: 'Comic Sans MS', Georgia, 'Times New Roman', Times, serif;
}

#sysMessage {
    font-size: 30px;
}

#hint {
    font-size: 20px;
}

.gameFont {
    font-size: 25px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

#scoreboard {
    font-size: 40px;
}

#leftColumn, #rightColumn {
    padding: 30px;
}

#song {
    font-size: 25px;
    color: silver;
}
