body {
    background-color: black;
    color: white;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

#banner{
    height: 30%; 
    width: 30%;
    padding-bottom: 30px;
}

#word {
    font-size: 50px;
    font-family: 'Comic Sans MS', Georgia, 'Times New Roman', Times, serif;
}

.gameFont {
    font-size: 25px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

#scoreboard {
    font-size: 40px;
}

#leftColumn, #rightColumn {
    padding: 30px;
}
